.body {
  background-color: #222;
}

.App {
  text-align: center;
  background-color: #222;
  color: white;
  height: 100vh;
  width: 100vw;
}
.App-header {
  height: 150px;
  padding: 20px;
}

.hat-image {
  width: 250px;
}
